* {
    font-family: Roboto, sans-serif;
    
}

body {
    font-family: Roboto, sans-serif;
    background-color: #142850;
    background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");    
}

.timer-box {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




.start-button {
    display:inline-block;
    background-color: #27496d;    
    letter-spacing: 1px;
    font-size: 1.5rem;
    color: white;
    padding: 12px;
    border-radius: 12px;
    border: 1px solid black;
    box-shadow: 0 1px 2px #142850;
    margin: 0 20px 5px 20px; 
    
}

.plus-minus{
    display:inline-block;
    margin: 0 10px 5px;
    background-color: #27496d;
    font-size: 1.5rem;
    color: white;
    padding: 15px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 1px solid black;
    box-shadow: 0 1px 2px #142850;
}

.start-button:hover {
    background-color: #0c7b93;
}
.plus-minus:hover {
    background-color: #0c7b93;
}

.start-button:active {
    background-color: #0c7b93;
    transform: translateY(2px);
}

.plus-minus:active {
    background-color: #0c7b93;
    transform: translateY(2px);
}


h1 {
    color: white;
    font-size: 7rem;    
    letter-spacing: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.cancel-button {
    background-color: #27496d;
    font-size: 1.5rem;    
    letter-spacing: 1px;
    color: white;
    padding: 12px;
    border-radius: 12px;
    border: 1px solid black;
    box-shadow: 0 1px 2px #142850;
}

.cancel-button:hover {
    background-color: crimson;
}

.cancel-button:active {
    background-color: gray;
    transform: translateY(2px);
}

